@font-face {
  font-family: SIMPLONMONO-REGULAR;
  src: url(https://static1.squarespace.com/static/6181e18cca832e610f8957e6/t/618ae4290088502e4657967f/1636492329559/SimplonMono-Regular.otf);
  }
  @font-face {
  font-family: SIMPLONNORM-BOLD;
  src: url(https://static1.squarespace.com/static/6181e18cca832e610f8957e6/t/618ae4197262ac6ffdf4a65a/1636492313895/SimplonNorm-Bold.otf);
  }
  @font-face {
  font-family: SIMPLONMONO-BOLD;
  src: url(https://static1.squarespace.com/static/6181e18cca832e610f8957e6/t/619e62aa9b4b6a3eef1d70cf/1637769898983/SimplonMono-Bold.otf);
  }

.container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: auto;
  box-sizing: border-box;
  transition: margin-left 0.3s;
  max-width: 1200px;
  margin-left: 95px;
  margin-right: 15px;
  margin-top: 30px;
}
.Product_Name {
  margin-right: 48%;
}

.m-0 {
  margin: 0;
  font-family: SIMPLONNORM-BOLD;
}

.ph {
  cursor: pointer;
}

.filter_item input,
.filter_item label {
  cursor: pointer;
}

.Mainsidebar {
  width: 300px;
}

.hr_tag {
  opacity: 0.2;
  width: 296px;
}

.filter_section_head {
  display: flex;
  justify-content: space-between;
}

.filter_section_head b {
  margin: 0;
}

.unselected {
  color: grey;
  text-decoration: underline;
  cursor: pointer;
}

.sidebar {
  flex: 0.9 1;
  width: 25%;
  height: auto;
  box-sizing: border-box;
  transition: transform 0.3s;
  display: no;
}

.sidebar.hidden {
  transform: translateX(-100%);
  display: none;

}

.toggleButton {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.main_Content {
  width: 932px;
  flex: 3;
  padding: 1%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  overflow-y: auto;
  box-sizing: border-box;
  transition: margin-left 0.3s;
}

.mainContent.expanded {
  margin-left: 0;
}

.card {
  padding: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.card .Product_Name {
  text-align: right;
  margin-right: 53%;
  height: 0px;
  font-size: 18px;
  color: rgba(37, 32, 32, 1);
  font-family: 'SIMPLONNORM-BOLD';
}
.card .sing_create {
  opacity: 0.6;
  font-family: 'SIMPLONNORM-BOLD';
  align-items: end;
  width: 100%;
  align-content: start;
  font-size: 12px;
}
.heart_ico{
  align-content:flex-end;
  margin-left: 11%;
  font-size: 145%;

}

.images {
  object-fit: contain;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

@media (max-width: 768px) {
  .Mainsidebar {
    display: none;
  }


  .images {
    object-fit: contain;
    width: 109%;
    height: 79%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }

  .main_Content {
    grid-template-columns: repeat(2, 1fr);
    padding: 2%;
  }

  .container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    box-sizing: border-box;
    transition: margin-left 0.3s;
    margin-right: 15px;
    margin-left: -79px;
    margin-top: 3%;
  }

  .card .Product_Name {
    color: rgba(37, 32, 32, 1);
    font-size: 14px;
    text-align: left;
    width: 100%;
  }

  .card .sing_create {
    font-size: 10px;
    opacity: 0.6;
    text-align: left;
    margin-top: 12%;
  }
}