.container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: auto;
  box-sizing: border-box;
  transition: margin-left 0.3s;
  max-width: 1200px;
  margin-left: 95px;
  margin-right: 15px;
  margin-top: 30px;
}
.Product_Name {
  margin-right: 48%;
  text-wrap: pretty;
}
.m-0 {
  margin: 0;
}
.ph {
  cursor: pointer;
}
.filter_item input,
.filter_item label {
  cursor: pointer;
}
.Mainsidebar {
  width: 300px;
}
.hr_tag {
  opacity: 0.2;
  width: 296px;
}
.filter_section_head {
  display: flex;
  justify-content: space-between;
}

.filter_section_head b {
  margin: 0;
}

.unselected {
  color: grey;
  text-decoration: underline;
  cursor: pointer;
}

.sidebar {
  flex: 0.9 1;
  width: 25%;
  height: auto;
  box-sizing: border-box;
  transition: transform 0.3s;
  display: no;
}

.sidebar.hidden {
  transform: translateX(-100%);
}

.toggleButton {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.main_Content {
  width: 932px;
  flex: 3;
  padding: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  overflow-y: auto;
  box-sizing: border-box;
  transition: margin-left 0.3s;
}
.mainContent.expanded {
  margin-left: 0;
}
.card {
  padding: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.card b {
    margin: -30px;
    padding: 63px 0px 11px;
    text-align: left;
    width: 200px;
    height: 19px;
    gap: 0px;
    opacity: 0px;
    color: rgba(37, 32, 32, 1);
}

.images {
  width: 70%;
  height: 100%;
}

@media screen and (max-width: 660px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .mainContent {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .card {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 270px) {
  .container {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .sing_create {
    size: 12px;
  }
  .sidebar {
    margin-bottom: 20px;
    width: 100%;
    display: none;
  }
  .sidebar.hidden {
    display: none;
  }
  .mainContent {
    grid-template-columns: 1fr;
    gap: auto;
  }
  .card {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 400px) {
  .sidebar {
    display: none;
  }
  .sing_create {
    size: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .mainContent {
    flex: 2 1;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 700px) {
  .sidebar {
    display: none;
  }
}
@media screen and (max-width: 300px) {
  .sing_create {
    object-fit: cover;
  }
}
