    @font-face {
    font-family: SIMPLONMONO-REGULAR;
    src: url(https://static1.squarespace.com/static/6181e18cca832e610f8957e6/t/618ae4290088502e4657967f/1636492329559/SimplonMono-Regular.otf);
    }
    @font-face {
    font-family: SIMPLONNORM-BOLD;
    src: url(https://static1.squarespace.com/static/6181e18cca832e610f8957e6/t/618ae4197262ac6ffdf4a65a/1636492313895/SimplonNorm-Bold.otf);
    }
    @font-face {
    font-family: SIMPLONMONO-BOLD;
    src: url(https://static1.squarespace.com/static/6181e18cca832e610f8957e6/t/619e62aa9b4b6a3eef1d70cf/1637769898983/SimplonMono-Bold.otf);
    }

.dic_pro{
    width: 721px;
    height:168px;
    margin-top: 50px;
    margin-right: 9%;
}
.dic_pro .dic_product{
    color: rgba(37, 32, 32, 1);
    font-size: 42px;
    margin-left: 8%;
    align-items: center;
    font-family: SIMPLONMONO-REGULAR;
    font-stretch: expanded;
}
.dic_pro .cover_dic{
    width: 78%;
    line-height: 1.7;
    height: 83px;
    word-wrap: break-word;
    font-family: "Gill Sans", sans-serif;
}
@media (max-width: 768px) {
    .dic_pro {
        width: 100%;
        height: auto;
        margin-top: 30px; 
    }
    .dic_pro .dic_product{
        width: 90%;
        height: auto;
        font-size: 24px;
        text-align: center;
        font-weight: 600;
    }
    .dic_pro .cover_dic{
        height: auto; 
        margin-top: 13px; 
        word-wrap: break-word;
        text-align: center; 
        font-size: 13px;
        width: 100%;
    }
}
