.dic_pro{
    width: 721px;
    height:168px;
    margin-top: 50px;
}
.dic_pro h1{
    width: 666px;
    height: 72px;
    size: 60px;
    font-weight: 400;
    align-items: center;
    font-family: "Gill Sans", sans-serif;
}
.dic_pro p {
    width: 514px;
    height: 83px;
    word-wrap: break-word;
    margin-top: -33px;
    font-family: "Gill Sans", sans-serif;
}
@media (max-width: 768px) {
    .dic_pro {
        width: 100%;
        height: auto;
        margin-top: 30px; 
    }
    .dic_pro h1 {
        width: 90%;
        height: auto; 
        font-size: 20px; 
        text-align: center; 
    }
    .dic_pro p {
        width: 90%;
        height: auto; 
        margin-top: -5px; 
        word-wrap: break-word;
        text-align: center; 
        font-size: 12px;
    }
}
