/* Base styles for the navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo {
  margin-top: 24px;
  margin-left: 96px;
}
.logoName {
  font-size: 2.5vw;
  margin-left: 10%;
  font-weight: bold;
  margin-top: 36px;
  width: 117px;
  height: 44px;
  font-family: "Inter", sans-serif;
  color: #000000;
}

.icon {
  display: flex;
  gap: 14px;
  align-items: center;
  width: 244px;
  margin-right: 25px;
  margin-top: 3px;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.nav_option {
  margin-top: -1rem;
  margin-left: -1rem;
  border: none;
  outline: none;
  padding: 0.5rem;
  width: 52px;
  height: 7px;
}

.nav_select {
  width: 54px !important;
  border: none;
  margin-right: 2rem;
}

.subnav {
  width: 636px;
  height: 46px;
  display: flex;
  gap: 24px;
  list-style-type: none;
  overflow: hidden;
  flex-grow: 1;
  margin-left: 404px;
}

.subnav li {
  width: 52px;
  height: 24px;
}

.subnav .li {
  padding: 14px 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

hr {
  opacity: 0.2;
  margin: 1rem 0;
  height: 0px;
  color: #e5e5e5;
}

.heading {
  text-align: center;
  margin-top: 2rem;
}

.pragraf {
  margin: 2rem auto;
  max-width: 90%;
  text-align: center;
}

.checkbox {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.div {
  max-width: 90%;
  margin: 0 auto;
}

@media (max-width: 768px) {

  .logoName {
    font-size: 8vw;
    margin-left: 20%;
    margin-top: 4%;
    width: 12%;
  }
  .hum_icom {
    display: none;
  }
  .home_ico{
    margin-top: 4%;
    opacity: 0.2;
  }
  .ico_home{
    opacity: 0.2;
  }
  .nav_option {
    display: none;
  }
  .home_shop{
    display: flex;
    gap: 3px;
    font-size: 12px;
    margin-left: 4%;
    margin-top: -5%;
  }
  .Logo {
    margin-top: -4px;
    margin-left: 0%;
    width: 22px;
    height: 22px;
  }

  .icon {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 0;
    margin-left: -22px;
    justify-content: flex-end;
  }

  .menuButton {
    display: block;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    margin-left: 10px;
  } 

   .subnav {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .subnav .li {
    width: 100%;
    text-align: center;
    padding: 1rem;
  }

}
@media (min-width: 948px) {
  .menuButton {
    display: none;
  }
  .home_shop{ 
    display: none;
  }
  .home_ico{
    display: none;
  }
}
