/* Base styles for the navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
}

.Logo {
  margin-top: 24px;
  margin-left: 96px;
}

.logoName {
  font-size: 2.5vw;
  margin-left: 10%;
  font-weight: bold;
  margin-top: 36px;
  width: 117px;
  height: 44px;
  font-family: 'Inter', sans-serif;
  color: #000000;
}

.icon {
  display: flex;
  gap: 14px;
  align-items: center;
  width: 244px;
  margin-right: 25px;
  margin-top: 3px;
}

.icon svg { 
  width: 24px;
  height: 24px;
}

.nav_option {
  margin-top: -1rem;
  margin-left: -1rem;
  border: none;
  outline: none;
  padding: 0.5rem;
  width: 52px;
  height: 7px;
}

.nav_select {
  width: 54px !important;
  border: none;
  margin-right: 2rem;
}

.subnav {
  width: 636px;
  height: 46px;
  display: flex;
  gap: 24px;
  list-style-type: none;
  overflow: hidden;
  flex-grow: 1;
  margin-left: 404px;
}

.subnav li {
  width: 52px;
  height: 24px;
}

.subnav .li {
  padding: 14px 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

hr {
  opacity: 0.2;
  margin: 1rem 0;
  width: 100%;
  height: 0px;
  color: #E5E5E5;
}

.heading {
  text-align: center;
  margin-top: 2rem;
}

.pragraf {
  margin: 2rem auto;
  max-width: 90%;
  text-align: center;
}

.checkbox {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.div {
  max-width: 90%;
  margin: 0 auto;
}

/* Media Queries for responsiveness */

/* For screens up to 390px */
 @media (max-width: 275px) {
  .logoName {
    font-size: 4vw;
    margin-left: 10px;
  }

  .icon {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 3%;
  }

  .menuButton {
    display: block;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    margin-left: 10px;
  }

  .subnav {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .subnav.open {
    display: flex;
  }

  .subnav .li {
    width: 100%;
    text-align: center;
    padding: 1rem;
  }

  .heading,
  .pragraf {
    font-size: 1rem;
  }
} 

/* For screens between 380px and 768px */
@media (min-width: 380px) and (max-width: 768px) {
  .nav {
    flex-direction: row;
    align-items: center;
  }

  .logoName {
    font-size: 3vw;
    margin-left: 0;
  }

  .icon {
    margin: 0;
  }

  .subnav {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    flex-wrap: wrap;
  }

  .subnav .li {
    padding: 14px 16px;
  }
}

/* For larger screens */
@media (min-width: 769px) {
  .menuButton {
    display: none;
  }
}
